[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
bumpversion = "*"
yapf = "*"
PyYAML = "*"
tox = "*"
flake8 = "*"
wheel = "*"
grpcio = "*"
grpcio-tools = "*"
"http://download.pytorch.org/whl/torch-0.1.12.post2-cp36-cp36m-macosx-10-7-x86-64.whl" = "*"
torchvision = "*"
numpy = "*"
